.navbar {
    background-color: blue;
    padding: 20px;
    font-size: 20px;
    margin-left: auto
}
.name {
    color: white;
    font-size: 32px;
    margin-left: 250px;
    display: flex;
    justify-content: space-around;
}

#food-jumbotron {
    text-align: center;
};

#protein-card {
    width: fit-content;
}
 .big-body {
     background-color: darkslategrey;
 }
  .about-section{
     text-align: center;
  }
  h2 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }