* {
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}

 h2 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }

 .hero.is-info {
     background-color: #171b22;
 }
.hero {
    overflow: hidden;
}
 .hero-bg {
     background-image: url("images/logo.png");
     width: 600px;
     height: 600px;
     background-repeat: none;
     background-size: cover;
 }

 .content > .checkbox{
     display: block;
     text-align: left;
 }